@import url("./font.css");
body {
  font-family: "Museo Sans", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.top-header {
  background-color: #080808;
  padding: 5px 0 5px 0;
}
.top-header__info {
  font-weight: 400;
  color: #7B7B7B;
  font-size: 13px;
}
.top-header__info:not(:last-child) {
  margin-right: 30px;
}
.top-header__icon {
  display: inline-block;
  font-size: 13px;
  line-height: 100%;
  color: white;
  margin-right: 5px;
  padding: 8px 9px;
  border-radius: 50%;
  background-color: #272727;
}
.top-header__link {
  font-size: 13px;
  line-height: 100%;
  color: #7B7B7B;
}
.top-header__link:hover {
  color: #fff;
}
.top-header .dot {
  background-color: rgba(246, 34, 33, 0.5);
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 55px;
}

.social__icon {
  color: #FFFFFF;
}
.social__link {
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  padding: 8px;
  background-color: rgba(246, 34, 33, 0.25);
  border-radius: 55px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.social__link:not(:last-child) {
  margin-right: 15px;
}
.social__link:hover {
  background-color: #f62221;
  color: #fff;
}

.intro {
  padding-top: 50px;
  padding-bottom: 344px;
  background-image: url(../images/main-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.intro .main-header {
  margin-bottom: 250px;
}
.intro .main-header .logo__image {
  display: inline-block;
  width: 180px;
}
.intro .main-header .menu {
  position: relative;
}
.intro .main-header .menu__link {
  display: inline-block;
  margin-right: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}
.intro .main-header .menu__icon {
  display: inline-block;
  padding: 0 3px;
  font-size: 10px;
}
.intro .main-header .menu__button {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
  background-color: transparent;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.intro .main-header .menu__button:hover::after {
  width: 90%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.intro .main-header .menu__button::after {
  content: "";
  position: absolute;
  height: 5px;
  background: #F62221;
  border: 2px solid #F62221;
  -webkit-box-shadow: 0px 16px 24px rgba(246, 34, 33, 0.2), 0px 2px 6px rgba(246, 34, 33, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(246, 34, 33, 0.2), 0px 2px 6px rgba(246, 34, 33, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 55px;
  width: 50%;
  top: 22px;
  right: 5px;
}
.intro .main-header .menu .dot {
  margin-right: 10px;
  background-color: rgba(246, 34, 33, 0.5);
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 55px;
  text-align: center;
}
.intro .main-header .hamburger-button {
  background-color: transparent;
  display: none;
  border: none;
}
.intro .main-header .icon-hamburger {
  color: #fff;
  font-size: 40px;
}
.intro__content {
  max-width: 600px;
}
.intro__type {
  margin-bottom: 20px;
}
.intro__type__tuning {
  font-size: 16px;
  line-height: 25px;
  color: #BABABD;
  margin-right: 15px;
}
.intro__type__studio {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  background: #7B1312;
  -webkit-box-shadow: 0px 0px 30px rgba(251, 163, 66, 0.05);
          box-shadow: 0px 0px 30px rgba(251, 163, 66, 0.05);
  border-radius: 0px 15px;
  padding: 8px 18px;
}
.intro__title {
  font-weight: bold;
  font-size: 96px;
  line-height: 75px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.intro__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.intro__dots .dot {
  background-color: rgba(246, 34, 33, 0.5);
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 55px;
}
.intro__dots .dashes {
  display: inline-block;
  width: 105px;
  border: 1px dashed #F62221;
}
.intro__text {
  font-size: 16px;
  line-height: 25px;
  color: #BABABD;
  margin-bottom: 50px;
}
.intro__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.intro__buttons__link {
  border: 2px solid #F62221;
  border-radius: 55px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 16px 40px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.intro__buttons__link:hover {
  background-color: #F62221;
  color: #FFFFFF;
}

.jobs {
  position: relative;
  padding: 81px 0 41px 0;
}
.jobs::after {
  content: "";
  position: absolute;
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 548.78px;
  height: 226.94px;
  top: 30px;
  right: 30px;
}
.jobs__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 60px;
  color: #080808;
  margin-bottom: 102px;
  position: relative;
}
.jobs__title::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 10px;
  background: #F62221;
  -webkit-box-shadow: 0px 0px 30px rgba(251, 163, 66, 0.05);
          box-shadow: 0px 0px 30px rgba(251, 163, 66, 0.05);
  border-radius: 0px 15px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: 520px;
  top: 30px;
}
.jobs__title::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background: #F62221;
  border-radius: 55px;
  left: 5px;
  top: 100px;
}
.jobs .jobs__box {
  position: relative;
}
.jobs .jobs__box::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 8, 0)), to(rgba(8, 8, 8, 0.8)));
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) 0%, rgba(8, 8, 8, 0.8) 100%);
  border-radius: 0px 0px 7px 7px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.jobs .jobs__box__image {
  width: 100%;
}
.jobs .jobs__box__text {
  z-index: 5;
  position: absolute;
  top: 40px;
  left: 50px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
.jobs .jobs__box__price {
  z-index: 5;
  position: absolute;
  bottom: 26px;
  right: 50px;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
}
.jobs .jobs__box .rubl {
  color: #f62221;
}
.jobs__link {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #080808;
  padding-right: 6px;
}
.jobs__link:hover {
  color: #F62221;
}
.jobs .icon-triangle-right {
  width: 14px;
  height: 15px;
  font-size: 12px;
  line-height: 23px;
  color: #F62221;
}

/* FIRST JOBS */
.firstJobs__box {
  position: relative;
}
.firstJobs__box::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 8, 0)), color-stop(59.9%, rgba(8, 8, 8, 0.666667)), to(#080808));
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) 0%, rgba(8, 8, 8, 0.666667) 59.9%, #080808 100%);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.firstJobs__box__image {
  width: 100%;
}
.firstJobs .firstJobs__info {
  position: absolute;
  left: 50px;
  top: 40px;
  color: #FFFFFF;
  z-index: 5;
}
.firstJobs .firstJobs__info__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.firstJobs .firstJobs__info__text {
  font-size: 16px;
  line-height: 20px;
  max-width: 400px;
}

.ourWorks {
  padding-top: 80px;
}
.ourWorks__title {
  position: relative;
}
.ourWorks__title::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 10px;
  background: #F62221;
  -webkit-box-shadow: 0px 0px 30px rgba(251, 163, 66, 0.05);
          box-shadow: 0px 0px 30px rgba(251, 163, 66, 0.05);
  border-radius: 0px 15px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: 430px;
  top: 30px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: auto 15px 83px;
  grid-template-columns: auto 83px;
  -ms-grid-rows: 77px 15px 77px 15px 77px 15px 77px 15px 77px;
  grid-template-rows: 77px 77px 77px 77px 77px;
}

.grid-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid-container > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid-container > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid-container > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.grid-container > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.grid-container > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.grid-container > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.grid-container > *:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.grid-container > *:nth-child(10) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.grid-items:not(:first-child) {
  position: relative;
  border-radius: 7px;
  overflow: hidden;
}
.grid-items:not(:first-child)::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 8, 0)), to(rgba(8, 8, 8, 0.8)));
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) 0%, rgba(8, 8, 8, 0.8) 100%);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.grid-items:not(:first-child):hover::after {
  background: none;
  border: 2px solid #F62221;
  border-radius: 7px;
}

.grid-items:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
  border-radius: 7px;
  overflow: hidden;
}

.image-big {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon-triangle-right {
  width: 14px;
  height: 15px;
  font-size: 12px;
  line-height: 23px;
  color: #F62221;
}

.images-block__sub-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 20px 0 10px 0;
  color: #080808;
}
.images-block__unordered-list {
  position: relative;
  padding-left: 15px;
}
.images-block .list {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #7B7B7B;
  margin-bottom: 5px;
}
.images-block .list::marker {
  color: #F62221;
}
.images-block .list:last-child {
  margin-bottom: 45px;
}

/*MAP*/
.map {
  position: relative;
}
.map__red-line {
  background-image: url(../images/red-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 84px;
  position: relative;
  -webkit-transform: translateY(53px);
          transform: translateY(53px);
}
.map__red-line::before {
  content: "";
  position: absolute;
  width: 43%;
  height: 6px;
  background: #F62221;
  left: 0px;
  border-radius: 55px;
  bottom: 53px;
}
.map__red-line::after {
  content: "";
  position: absolute;
  width: 43%;
  height: 6px;
  background: #F62221;
  right: 0px;
  border-radius: 55px;
  bottom: 53px;
}
.map__image {
  width: 100%;
}

/*FOOTER*/
.footer {
  background-color: #080808;
  padding: 80px 0 76px 0;
}
.footer__info {
  color: #697a89;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer__text {
  max-width: 215px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 30px;
}
.footer__allrights {
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  margin: 0;
}

.navi__title {
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  color: #F62221;
  margin-bottom: 15px;
}
.navi__link {
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  margin-bottom: 10px;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navi__link:hover {
  color: #F62221;
}

.vertical-dashed {
  border-left: 2px dashed rgba(246, 34, 33, 0.2);
  border-right: 2px dashed rgba(246, 34, 33, 0.2);
  padding: 0 15px;
}

.contact__title {
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  color: #F62221;
  margin-bottom: 15px;
}
.contact__info {
  font-weight: 400;
  color: #7B7B7B;
  font-size: 13px;
  margin-bottom: 10px;
}
.contact__info:not(:last-child) {
  margin-right: 30px;
}
.contact__icon {
  display: inline-block;
  font-size: 13px;
  line-height: 100%;
  color: white;
  margin-right: 5px;
  padding: 8px 9px;
  border-radius: 50%;
  background-color: #272727;
}
.contact__link {
  font-size: 13px;
  line-height: 100%;
  color: #7B7B7B;
}
.contact__link:hover {
  color: #fff;
}
.contact .dot {
  background-color: rgba(246, 34, 33, 0.5);
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 55px;
}
.contact__social {
  padding-top: 10px;
}

.contact__social__icon {
  color: #FFFFFF;
}
.contact__social__link {
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  padding: 8px;
  background-color: rgba(78, 78, 78, 0.5);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contact__social__link:not(:last-child) {
  margin-right: 10px;
}